:root{
    --darkblue:hsl(235, 16%, 14%);
    --red:hsl(345, 95%, 68%);
    --blue: hsl(236, 21%, 26%);

}
body{
    margin: 0;
    background-color:  var(--darkblue);
    background-image: url("images/bg-stars.svg");
    background-size: cover;
    font-family: 'Red Hat Display';
    color: #fff;
    letter-spacing: 0.3em;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.container{
    margin-top: 50px;
}
.time-cards{
    margin: 60px 0;
    display: flex;
    justify-content: center;
    text-align: center;
}
.time-cards >* >div{
    margin: 0px 10px;
    background-color: var(--blue);
    width: 1.6em;
    height: 0.73em;
    color:  var(--red);
    font-size: 45px;
    text-align: center;
    font-weight: 700;
    border-radius:4px;
    overflow: visible;
    position: relative;
}

.time-cards .bottom{
    border-top: 0.1px solid hsl(235, 16%, 14%);
    z-index: -1;   /* to make the upper text lay on bottom div */
    
}

/* adding the dots to the sides of cards */
.time-cards .values::after{
    content: "";
    height: 8px;
    width: 8px;
    border-radius: 100%;
    position: absolute;  
    background-color: var(--darkblue);
    bottom: -4px;
    left: -3px;
}
.time-cards .values::before{
    content: "";
    height: 8px;
    width: 8px;
    border-radius: 100%;
    position: absolute;
    background-color: var(--darkblue);
    bottom: -4px;
    right: -3px;
}

h1{ 
    margin: 0 20px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}
footer{
    margin-top: auto;
    height: 35%;
    background-image: url("images/pattern-hills.svg");
    background-position:right;
    background-size: cover;
}
.icons{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}
a{
    margin: 0 15px;
    display: block;
}
p{  
    font-size: 0.6rem;
    text-align: center;
    color: hsl(237, 18%, 59%);
    font-weight: 700;
    text-transform: uppercase;
}
.icons img:hover{
    filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(300deg) ;
}

@media screen and (min-width:520px){
    .time-cards >* >div{
        font-size: 65px;
    }   
}
